body {
  margin: 0;
  padding: 25px;
  height: 100%;
  display: flex;
  font-size: 30px;
  background-color: Darkgrey;

}
h2,span{
  color: transparent;
  text-shadow: 0 0 0 black;
}
.game-board-main {
  margin-top:100px;
  width: 50%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: grey;
  border-radius: 25px;
}
button {
  border-radius: 12px;
  font-size:20px;
  padding: 10px 24px;
}
.player-1-column, .player-2-column {
  width: 25%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;

}

.game-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  background: Darkgrey;

}

.box {
  width: 10vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 60px;
  background: grey;
}
